.body-diploma {
  color: black;
  display: table;
  font-family: Georgia, serif;
  font-size: 24px;
  text-align: center;
}

.container-diploma {
  border: 20px solid rgb(99, 99, 99);
  width: 750px;
  height: 563px;
  display: table-cell;
  vertical-align: middle;
}

.logo {
  color: rgb(114, 114, 114);
}

.marquee {
  color: rgb(51, 51, 51);
  font-size: 48px;
  margin: 20px;
}

.assignment {
  margin: 20px;
}

.person {
  border-bottom: 2px solid black;
  font-size: 32px;
  font-style: italic;
  margin: 20px auto;
  width: 400px;
}

.reason {
  margin: 20px;
}
